<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <nav>
        <i class="ri-menu-3-fill menu"></i>
        <ul class="sidemenus">
            <i class="ri-close-large-fill close"></i>
            <li><a href="/">Home</a></li>
            <li><a href="/donar/request-list">Donate</a></li>
            <li><a href="/reciver/blood">Blood</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact</a></li>
            <a href="/users/logout">Logout</a>
        </ul>
        <ul class="menus">
            <li><a href="/">Home</a></li>
            <li><a href="/donar/request-list">Doante</a></li>
            <li><a href="/reciver/blood">Blood</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact</a></li>
            <a href="/users/logout">Logout</a>
        </ul>
        </nav>
        <section class="profile-info">
            <div id="top">
            <div class="img">
                <% if(profilepic) { %>
                    <img class="prifile_pic" src="data:image/png;base64,<%= user.profilepic %>" alt="" />
                <% } else { %>
                <img class="prifile_pic" src="https://plus.unsplash.com/premium_photo-1676637656198-e2bbf752103a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Picture">
                <% } %>
                    <img class="change_photo" src="/images/photos.webp" alt="">
            </div>
            <div class="name-info">
                <h1 id="name"><%= user.name %></h1>
                <h2><%= user.email %></h2>
            </div>
            </div>
            <div class="wellcome-massage">
                <h5>Welcome Message to <br> [ <span id="wellName"></span> ]</h5>
                <hr>
                <p>Welcome to <b><i>Blood_Hub</i></b> ! ❤️<br> Thank you for joining us in saving lives. Whether you're donating or searching for a donor, your support matters. Together, we will make a better India. Enjoy your day, Thank You! 🤗</p>
            </div>
        </section>
        <section class="strick_rate">
            <h1>Your Streaks Info</h1>
            <div class="info">
                <div class="donation">
                    <h3>Donate</h3>
                    <p><%= user.Donate.length %><span> Time</span></p>
                </div>
                <div class="donation">
                    <h3>Blood Requests</h3>
                    <p><%= user.bloodRequest.length %><span> Time</span></p>
                </div>
                <div class="verified">
                    <h3>Verified</h3>
                    <section>
                        <% if (user.verified){ %>
                        <img src="/images/check.webp" alt="">
                        <p>Yes</p>
                        <% } else {%>
                        <img src="/images/remove.webp" alt="">
                        <p>No</p>
                        <% } %>
                    </section>
                </div>
                <div class="blood_group">
                    <h3>Blood Group</h3>
                    <% if(user.bloodgroup) { %>
                    <p><%= user.bloodgroup  %></p>
                    <% } else { %>
                    <div class="Overlay">
                    <form action="/users/add_blood_group" method="post" class="know_blood_group">
                    <label for="Blood_Group">Please Provide Your Blood Group</label>
                    <select name="blood_Name" id="Blood_Group">
                        <option value="nothing">Select Your Blood Group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                    <input type="submit" value="Conform" />
                    </form>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <section class="blood_request">
            <h1>Blood Request From</h1>
            <button class="add_request">Add Request</button>
        </section>
        <div class="profile-img">
        <form action="/users/picture-upload" method="post" enctype="multipart/form-data">
            <input type="email" name="email" id="" value="<%= user.email %>" />
            <input type="file" accept="image/*" name="profilepic" id="profilepic" required />
            <input type="submit" value="Upload" id="upload" />
        </form>
        </div>
        <section class="requests">
            <h1>Your Request</h1>
            <div class="allCards">
                <% pendingPosts.forEach((elem)=>{ %>     
            <div class="card">
                <p>RQ : <%= elem.bloodType %></p>
                <form action="/users/deletePost" method="post">
                    <input type="hidden" value="<%= elem._id %>" name="id">
                    <input type="hidden" id="postId" value="<%= elem._id %>">
                    <% if(elem.status === "Accepted"){ %>
                    <a href="/maps/<%= elem._id %>" id="mapBtn">MAP</a>
                    <% }else{ %>
                    <button type="submit">
                        <i class="ri-delete-bin-line delete"></i>
                    </button>
                    <% } %>
                </form>
            </div>
            <% }) %>
            </div>
        </section>
        <section class="requests">
            <h1>Your Donation</h1>
            <div class="allCards">
                <% DonatePosts.forEach((elem)=>{ %>     
            <div class="card">
                <p>RQ : <%= elem.bloodType %></p>
                <form action="/users/deletePost" method="post">
                    <input type="hidden" value="<%= elem._id %>" name="id">
                    <input type="hidden" id="postId" value="<%= elem._id %>">
                    <% if(elem.status === "Accepted"){ %>
                    <a href="/maps/<%= elem._id %>" id="mapBtn">MAP</a>
                    <% } %>
                    <button type="submit">
                        <i class="ri-delete-bin-line delete"></i>
                    </button>
                </form>
            </div>
            <% }) %>
            </div>
        </section>
        <section class="request_Form">
                <form action="/reciver/blood-request" method="post">
                    <i class="ri-close-large-fill closer"></i>
                <label for="blood_group">Blood Group:</label>
                <select name="blood_group" id="blood_group" required>
                    <option value="default" selected>Select The Blood Type</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                </select>
                <label for="number">Number:</label>
                <input type="number" name="number" id="number" placeholder="Enter The Number..." required>
                <div class="checkbox">
                    <input type="checkbox" id="terms" required>
                    <label for="terms">You Sure That Number is Right.</label>
                </div>
                <input type="submit" value="Send Request" class="send_req" />
                <h4><span>Disclamer</span> : ⚠️ Please enter a valid phone number. Incorrect entries may result in delays. Please Don't miss lead to anyone. 🤗</h4>
            </form>
        </section>
    </main>
</body>
<script src="/javascripts/profile.js"></script>
</html>