<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Section</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/request-page.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <nav>
        <i class="ri-menu-3-fill menu"></i>
        <ul class="sidemenus">
            <i class="ri-close-large-fill close"></i>
            <li><a href="/users/profile">Profile</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/donar/request-list">Donate</a></li>
            <li><a href="">FeedBack</a></li>
            <li><a href="">Contact</a></li>
            <a href="/users/logout">Logout</a>
        </ul>
        <ul class="menus">
            <li><a href="/users/profile">Profile</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/donar/request-list">Donate</a></li>
          <li><a href="">FeedBack</a></li>
          <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <section class="request-section">
        <% if(posts.length > 0) { %>
        <% posts.forEach((elem)=>{ %>
            <div class="card">
                <div class="top">
                    <div class="img">
                        <% if( elem.userId.profilepic ){ %>
                            <img src="data:image/jpeg;base64,<%= elem.userId.profilepic %>" alt="Profile Picture">
                            <% }else{ %>
                                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                        <% }%>
                    </div>
                    <div class="info">
                        <h1>Name: <%= elem.userId.name %></h1>
                        <h2>id: <%= elem.userId._id %></h2>
                    </div>
                </div>
                <div class="requerment">
                    <h1>Requerment:</h1>
                    <p><%= elem.bloodType %></p>
                </div>
                <div class="date">
                    <h1>Date: 13/03/2025</h1>
                </div>
                <p class="status"><%= elem.status %></p>
            </div>
            <% }) %>
            <% }else{ %>
                <pre><%= JSON.stringify(posts, null, 2) %></pre>
            <% } %>
      </section>
    </main>
</body>
<script src="/javascripts/reciver.js"></script>
</html>